### Import Libraries

In [1]:
import pandas as pd
import os

In [4]:
from sqlalchemy import create_engine

In [6]:
dtype_dict = {'column_name': str, 'another_column': float}
df = pd.read_csv(r"C:\Users\Collins\Desktop\Health-ETL\diabetes_012_health_indicators_BRFSS2015.csv", dtype=dtype_dict)

In [10]:
def extract_data(file_path):
    df = pd.read_csv(r"C:\Users\Collins\Desktop\Health-ETL\diabetes_012_health_indicators_BRFSS2015.csv")
    return df

In [14]:
def transform_data(df):
    df.columns = [col.lower().replace(" ", "_") for col in df.columns]
    df.dropna(inplace=True)  
    df['created_at'] = pd.to_datetime(df['created_at'])
    return df

In [17]:
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [18]:
df.tail()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [16]:
dbname =" Health"
user = "user"
password = "password"
host = "host"
port = " port"

engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{dbname}')

ValueError: invalid literal for int() with base 10: ' port'

In [13]:
df.to_sql(
    'table_name',
    engine,
    schema='bronze/silver/gold',
    if_exists='replace',    
    index=False
)

NameError: name 'engine' is not defined

In [ ]:
print('loading data successful')